body {
	margin: 0;
	padding: 0;
    font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #23283B;
	font-weight: normal;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}




.header{
	background: url(../img/header-min.jpg) center center/cover no-repeat;
}
.header_wrap{
	width: 100%;
	height: 100%;
	background: rgb(48, 53, 195, 0.8);
}
.section_header{
	padding-top: 32px;
	
}
.logo_text{
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	padding-left: 20px;
	/* text-align: center; */
}
.head_button{
	border: none;
	border-radius: 30px;
	background-color: #E6514A;
	
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 16px 35px;
	-webkit-transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;
	-o-transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;
	transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;
	}
.head_button:hover{
	background-color: #fff;
	color:#3035C3;
	border: 2px solid blue;
}
.head_btn{
	display: none;
	border: none;
	background-color: #E6514A;
	border-radius: 50%;
	padding: 0;
	width: 52px;
	height: 52px;
}
.phone{
	display: inline;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: bold;
}
.phone:hover{
	color: #fff;
}
.header_title{
	text-align: center;
	margin-top: 80px;
	padding-bottom: 80px;
}
.subtitle{
	white-space: nowrap
}
.subtitle_line{
	width: 40px;
	height: 1px;
	background: #E6514A;
}
.subtitle_text{
	margin-left: 12px;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-size: 14px;
	color: #fff;
}
.title{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	color: #fff;
	margin-top: 20px;
}
.header_text{
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
	margin: 28px 0 50px 0;
}
.header_date{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.btn_title{
	border: none;
	border-radius: 30px;
	padding: 20px 67px;
	color: #fff;
	background-color: #E6514A;

	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;
	-o-transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;
	transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;
}
.btn_title:hover{
	background-color: #fff;
	color: #3035C3;
	border: 2px solid blue;
}
.date{	
	-webkit-box-ordinal-group: 2;	
	    -ms-flex-order: 1;	
	        order: 1;
	margin-left:24px;
}
.date_title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 20px;
	color: #fff;
}
.date_text{
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color:#fff;
}




.youget{
	margin-top: 130px;	
}
.youget_wrap{
	background: url(../img/Vector1.svg) center top no-repeat;
	width: 100%;
	min-height: 345px;	
}
.subtitle_desc{
	margin-left: 12px;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-size: 14px;
	color: #23283B;
}
.title-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 48px;
	color: #23283B;
	margin-top: 20px;
}
.youget_inner{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
}
.youget_inner > img{
	width: 100%;
}
.youget_img{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	
	margin: 0 auto;
	max-width: 120px;
	min-height: 120px;
	border-radius: 50%;
	-webkit-box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
	        box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
	background-color: #fff;
}
.youget_text{
	max-width: 200px;
	text-align: center;
	margin-top: 20px;
	color: #23283B;
	font-family: 'Lato', sans-serif;	
}
.pointone{	
	margin-top: 185px;
	padding-left: 50px;	
}
.pointtwo{	
	margin-top: 100px;
	margin-left: 40px;	
}
.pointthree{	
	margin-top: 150px;
	margin-left: 45px;	
}
.pointfour{	
	margin-top: 116px;
	margin-left: 45px;	
}
.pointfive{	
	margin-top: -50px;
	margin-left: 40px;	
}




.program{
	margin-top: 100px;
}
.program_img{
	max-width:500px;
}
.program_img img{
	width: 100%;
}
.program_inner{
	margin-top: 57px;
}
.program_title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 40px;
	color: #23283B;	
	margin: 20px 0 32px 0; 	
}
.program_text p{
	font-family: 'Lato', sans-serif;
	line-height: 150%;
}
.program_text span{
	font-weight: bold;
}




.modules{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	border-radius: 10px;
	background-color: #DEDEFF;
	width: 1100px;
	min-height: 317px;
	margin: 80px 0 0 auto;	
}
.module_desc{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.module_img{
	max-width: 220px;
	position: absolute;
	top: 38px;
	left: -50px;
}
.module_img img {
	width: 100%;
	border-radius: 10px;
}
.module_inner{
	margin-left: 210px ;
}
.module_item{
	max-width: 270px;
}
.module_title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 28px;
	margin: 38px 0 24px 0;
}
.module_title span{
	color: #E6514A;
}
.module_name{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 18px;
	margin-bottom: 8px;
}
.module_list li{
	color: #E6514A;
	margin-bottom: 4px;
}
.module_list span{
	font-family: 'Lato', sans-serif;
	color: #23283B;
}
.module_list{
	padding-left: 17px;
}




.teacher{	
	background-color: rgb(222, 222, 255, 0.2);
	margin-top: 170px;
	padding: 60px 0 50px 0;	
}
.teacher_inner{
	position: relative;
}
.teacher_name{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}
.teacher_img{
	max-width: 500px;
	position: absolute;
	top: -142px;
	right: -40px;
}
.teacher_img img{
	width: 100%;
}
.teacher_subtitle h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 28px;
	text-align: center;
	margin-top: 100px;
}
.video{
	width: 470px;
	height: 250px;
	margin-top: 36px;
	margin-bottom: 52px;
}
.video iframe{
	width: 100%;
	height: 100%;
}




.forwhom{
	padding: 80px 0 80px 0;
}
.forwhom_title{
	text-align: center;
	margin-bottom: 50px;
}
.forwhom_box{
	max-width: 270px;
	height: 256px;
	-webkit-box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
	        box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
	border-radius: 10px;
}
.forwhom_box img{
	display: block;
	margin: 0 auto;
	padding-bottom: 16px;
}
.forwhom_text{
	text-align: center;
	font-family: 'Lato', sans-serif;
}




.results_wrap{
	position: relative;
	border-radius: 30px;
	width: 100%;
	min-height: 527px;
	background: url(../img/Rectangle-min.jpg) center center/cover no-repeat;
	-webkit-box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
	        box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);	
}
.results_wrap:before{
	content: "";
	position: absolute;
	z-index: 5;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 30px;
	background: -webkit-gradient(linear, left top, right top, color-stop(11.17%, #3035C3), color-stop(56.05%, rgba(48, 53, 195, 0.777612)), color-stop(76.22%, rgba(48, 53, 195, 0.599531)), to(rgba(48, 53, 195, 0.430353)));
	background: -o-linear-gradient(left, #3035C3 11.17%, rgba(48, 53, 195, 0.777612) 56.05%, rgba(48, 53, 195, 0.599531) 76.22%, rgba(48, 53, 195, 0.430353) 100%);
	background: linear-gradient(90deg, #3035C3 11.17%, rgba(48, 53, 195, 0.777612) 56.05%, rgba(48, 53, 195, 0.599531) 76.22%, rgba(48, 53, 195, 0.430353) 100%);
}
.results_inner{
	position: relative;
	color: #fff;
	z-index: 10;
	padding: 70px 0 0 68px;
}
.results_title{
	padding: 0;
}
.results_title h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 40px;
	margin: 20px 0 32px 0;
}
.results_text{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 17px;
	margin-top: 36px;
}
.results_subtitle{
	padding: 0;
}
.results_lists ul{
	padding: 0;
	font-family: 'Lato', sans-serif;
	list-style-type: none;
}
.results_lists ul > li{
	margin: 0 0 8px 12px;
}
.results_lists ul > li:before{
	content: "";
	display: inline-block;
	height:14px;
	width: 14px;
	vertical-align: middle;
	border-radius:50%;
	background-color: #E6514A;
	margin-right:15px;
}




.process{
	margin: 100px 0;
}
.process_box{
	max-width: 270px;
	height: 190px;
	-webkit-box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
	        box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
	border-radius: 10px;
}
.process_title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 20px;
	text-align: center;
	padding: 40px 0 12px 0;
}
.process_text{
	font-family: 'Lato', sans-serif;
	text-align: center;
}
.process_margin{
	margin-top: 40px;
}
.price_title{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #3035C4;
	text-align: center;	
}
.price_new{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 48px;
	text-align: center;
	color: #3035C4;
}
.price_old{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	-webkit-text-decoration-line: line-through;
	        text-decoration-line: line-through;
}
.price_box{
	border: 1px solid #DEDEFF;
	border-radius: 4px;
	padding: 34px 0;
	margin: 16px 0 33px 0;
}
.price_text ul{
	font-family: 'Lato', sans-serif;
	padding: 0;
	list-style-type: none;
}
.price_text ul > li{
	margin: 15px 15px 0 15px;
}
.price_text  span{
	opacity: 0.2;
}
.price_btn{
	margin-top: 45px;
	text-align: center;
}




.stages{
	margin: 120px 0;
	width: 100%;	
}
.stages_title{
	text-align: center;
	margin: 20px 0 24px 0;
}
.stages_line{
	background: url(../img/Vector2.svg) center top no-repeat;
	width: 100%;
	min-height: 345px;		
}
.stages_img{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
}
.stages_img > img{
	width: 100%;
}
.stages_one{
	padding-left: 100px;
	margin-top: 96px;
}
.stages_two{	
	margin-top: 26px;
	margin-left: 40px;	
}
.stages_three{
	margin-top: 96px;
	margin-left: 45px;
}
.stages_four{	
	margin-top: 26px;
	margin-left: 45px;
}
.stages_five{	
	margin-top: 96px;
	margin-left: 40px;
}
.stages_number{
	margin: 0 auto;
	max-width: 120px;
	min-height: 120px;
	border-radius: 50%;
	-webkit-box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
	        box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
	background-color: #fff;
}
.stages_text{
	font-family: 'Lato', sans-serif;
	max-width: 200px;
	text-align: center;
	margin-top: 20px;
}




.guarantee_img{
	max-width: 500px;
}
.guarantee_img img{
	width: 100%;
}
.guarantee_text{
	font-family: 'Lato', sans-serif;
}
.footer{
	background: url(../img/footer-min.jpg)center center/cover no-repeat;
	margin-top: 120px;
}
.footer_inner{
	width: 100%;
	height: 100%;
	background: rgb(48, 53, 195, 0.8);
	padding: 100px 0;
}
.footer_text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 32px;
	line-height: 130%;
	text-align: center;
	color: #fff;
}
.price_btn button{
	z-index: 6;
	width: 270px;
}
.footer_btn{
	z-index: 6;
	margin-left: 30px;
}




.modal{
	display: none;
	position: fixed;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(35, 40, 59, 0.7);
}
.modal_wrap{
	margin: 0 25%;
	width: 50%;
	max-height: 400px;
	-webkit-box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
	        box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
	border-radius: 20px;
	background-color: #fff;
}
.modal_box{
	height: 100%;
	background-color: #fff;
	border-radius: 20px;
}
.close {
	margin-right: 1rem;
	color: #000;
	opacity: 1;
	font-size: 3rem;
}
.modal_inner{
	height: 100%;	
}
.modal_img{
	max-width: 378px;
}
.modal_inner img{
	height: 100%;
	width: 100%;
	border-radius: 20px 0 0 20px;
}

.modal_content{
	padding: 10px 0 20px 50px;
	margin: auto;
}
.modal_title{
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 32px;
	line-height: 130%;
	color: #3035C4;
}
.modal_text{
	font-family: Lato, sans-serif;
	font-size: 12px;
	margin: 10px 0 10px 0;
}
.form_name, .form_number{
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}
.form_number{
	margin-top: 10px;
}
.form_contact, .form_phone{
	background: #FFFFFF;
	border: 1px solid #23283B;
	border-radius: 40px;
	padding: 16px 0 19px 20px;
	width: 100%;
}
.form_btn{
	border: none;
	background: #E6514A;
	border-radius: 30px;

	font-family: Montserrat, sans-serif;
	text-align: center;
	color: #FFFFFF;
	text-align: center;
	padding: 16px 0;
	width: 100%;
	margin-top: 15px;

	-webkit-transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;

	-o-transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;

	transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear;
}
.form_btn:hover{
	border: 1px solid #3035C4; 
	background-color: #fff;
	color: #3035C4;	
}




@media(max-width:992px){
	.head_contacts{
		padding-top: 20px;
	}
	.teacher_img{
		position: static;
	}
	.price_inner{
		margin-top: 50px;
	}
	.pointone{	
		margin-top: 140px;
		padding:0;		
	}
	.pointfive{	
		margin-top: 0px;
	}
	.youget_box{
		margin-left: 20px
	}
	.stages_one{
		margin-top: 50px;
	}
	.stages_five{
		margin-top: 50px;
	}
	.modal_img{
		display: none;
	}
}




@media(max-width:767px){
	.header_title{
		margin-top: 20px;
	}
	.header_date{
		display: block;
	}
	.logo_text{
		display: none;
	}
	.phone_head{
		display: none;
	}
	.btn_none{
		display: none;
	}
	.head_btn{
		display: block;
	}
	.subtitle{
		white-space: normal;
		text-align: left;
	}
	.btn_title{
		margin-top: 20px;
	}
	.youget{
		margin-top: 60px;
	}
	.youget_wrap{
		background: none;		
	}
	.youget_inner{
		padding: 0;
		display: block;		
	}
	.youget_box{
		margin: 30px 0 0 0;
		padding:0;		
	}
	.youget_text{
		margin: 0 auto
	}
	.program_img{
		display: none;
	}
	.program_inner{
		margin: 0;
	}
	.subtitle{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.program_title, .title-text{
		text-align: center;
	}
	.modules{
		display: block;
	}
	.module_desc{
		display: block;
	}
	.module_img{
		position: static;
		margin: -30px auto 0;
		max-width: 287px;
		height: 180px;
	}
	.module_img img{
		width: 100%;
		height: 100%;
	}
	.module_inner{
		margin:0;
		padding-left: 30px;
	}
	.teacher{
		margin-top: 50px;
	}
	.forwhom_box{
		margin: 20px auto;
	}
	.results_inner{
		padding: 30px 0;
	}
	.process_box{
		margin: 20px auto;
	}
	.stages{
		margin-bottom: 60px;
	}
	.stages_line{
		background: none;
	}
	.stages_img{
		display: block;
	}
	.stages_box{
		margin: 20px 0 0 0;
		padding: 0;
	}
	.footer{
		margin-top: 60px;
	}
	.footer_btn{
		margin: 30px 0 0 0;
	}
	.modal_wrap{
		margin: 0 5%;
		width: 90%;
		max-height: 400px;
		-webkit-box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
		        box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
		border-radius: 20px;
		background-color: #fff;	
	}	
}